.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
.logo {
   padding-top: 60px;
}
.nav {
    float: right;
}
.nav li {
    display: inline-block;
}
.nav li a {
    color: #b2b4b9;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    position: relative;
    bottom: 52px;
}
.nav li a:hover {
    color: white;
    font-weight: 600;
}
.slideshow-container {
    background-image:linear-gradient(rgba(119, 38, 178, 0.6),rgba(139, 89, 176, 0.6)), url('../img/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
  }
  .dot1 {
    background-image: url('../img/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
 }
 .dot2 {
    background-image:url('../img/background-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
 }
 .dot3 {
    background-image:url('../img/background-3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
 }
.dot {
    bottom: 400px;
    right: 100px;
    position: relative;
    cursor: pointer;
    float: right;
    clear: right;
    height: 12px;
    width: 12px;
    margin: 6px 2px;
    background-color: #959595;
    border-radius: 50%;
    display: block;
    transition: background-color 0.3s ease;
  }
.dot:hover {
    background-color: #ffffff;
}
.header-info h2 {
    font-size: 65px;
    color: white;
    font-weight: 400;
    text-align: center;
    padding-top: 90px;
}
.header-info h4 {
    font-size: 33px;
    text-align: center;
    font-weight: 100;
    color: #d1ced5; 
    position: relative;
    bottom: 40px;  
}
.header-info,
.header-btn {
    text-align: center;
    margin-bottom: 240px;
}
.header-btn {
    padding: 10px 40px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}
.header-btn:hover {
    background: #6842a0;
    transition: 0.3s;
}
/* Wrapper */
#wrapper .container {
    margin-top: 125px;
}
#wrapper h1 {
    float: left;
    width: 50%;
}
.right-wrapper {
    float: right;
    width: 50%;
}
.wp {
    position: absolute;
}
.wrapper-heading {
    font-size: 90px;
    font-weight: 500;
    color: #e1e1e1;
    text-transform: uppercase;
    margin-top: 60px;
}
.block {
    display: block;
}
.wp-h1 {
    margin-left: 100px;
    position: relative;
    bottom: 20px;
    font-size: 20px;
    color: #333333;
}
.wp-para1 {
    margin-left: 100px;
    margin-bottom: 50px;
    position: relative;
    bottom: 20px;
    font-size: 14px;
    line-height: 20px; 
}
.wp-h2 {
    margin-left: 100px;
    color: #654b9f;
    font-size: 20px;
}
.wp-h {
    margin-left: 100px; 
    font-size: 20px;
    color: #333333;
}
.wp-para {
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 20px;
}
/* Customer Service */
#customer {
    background-image: url('../img/customer-background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: 870px;
}
.left {
    width: 50%;
    padding-top: 280px;
    padding-bottom: 120px;
}
#customer h5 {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #503392;
}
#customer p {
    font-size: 18px;
    line-height: 23px;
    position: relative;
    bottom: 30px;
    color: #333333;
    padding-bottom: 10px;
}
.customer-btn {
    background-color: #503392;
    padding: 17px 35px;
    border: 1px solid transparent;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}
.cs-btn {
    position: relative;
    margin-left: 15px;
}
/* Portfolio */
#portfolio h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    margin-bottom: 0;
    color: #333333;
}
#portfolio p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 35px;
    color: #333333;
    position: relative;
    left: 15px;
}
.filter {
    text-align: center;
    width: 100%;
}
#filters {
    list-style: none;
    display: inline-flex;
}
#filters li {
    margin-left: 20px;
    border: 2px solid #333333;
    padding: 6px 18px;
    font-size: 17px;
}
.items li {
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 10px;
}
#filters li a {
    text-decoration: none;
    color: #332828;
}
#filters li:hover {
    background-color: #4e3391;
    color: white;
    cursor: pointer;
}
#filters li a:hover {
    color: white;
}
.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}
.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}
.searchIcon {
    border: 2px solid white;
    padding: 6px;
    color: white;
}
.heartIcon {
    border: 2px solid #ed145b;
    padding: 6px;
    color: white;
    margin-left: 4px;
    background-color: #ed145b;
}
.icons .searchIcon {
   display: none;
}
.icons .heartIcon {
    display: none;
}
.items .item:hover .searchIcon {
    display: inline;
}
.items .item:hover .heartIcon {
    display: inline;
}
/* Clients */
#clients {
    padding-top: 100px;
}
.cBackground {
    background-image:linear-gradient(rgba(82, 42, 169, 0.8),rgba(82, 42, 169, 0.8)), url('../img/footer-background.png');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 385px;
}
.cIcons {
    display: inline-flex;
    list-style: none;
}
.cIcons li {
    margin-left: 156px;
    padding-top: 130px;
}
.cIcons .cNr {
    font-size: 30px;
    color: white;
    position: relative;
    right: 27px;
    bottom: 20px;
}
.cIcons .cP {
    font-size: 17px;
    color: white;
    position: relative;
    right: 38px;
    bottom: 47px;
    font-weight: 200
}
/* Footer */
#footer {
    background-color: #232323;
    height: 750px;
}
#footer .container {
    padding-top: 60px;
}
#footer .contact {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
}
#footer .fPara {
    text-align: center;
    color: white;
    font-size: 18px;
    position: relative;
    bottom: 25px;
}
.leftSide {
    float: left;
    width: 60%;
    position: relative;
    left: 64px;
}
.rightSide {
    float: right;
    width: 40%;
    margin-top: 56px;
    color: white;
    position: relative;
    right: 90px;
}
.leftSide h3 {
    color: white;
    font-size: 28px;
    font-weight: 400;
}
.leftSide .name {
    background-color: #232323;
    border: 1px solid white;
    padding: 12px 110px;
}
::-webkit-input-placeholder {
    position: relative;
    right: 95px;
}
.leftSide .email {
    background-color: #232323;
    border: 1px solid white;
    padding: 12px 110px;
    margin-top: 10px;
}
.leftSide .subject {
    background-color: #232323;
    border: 1px solid white;
    padding: 12px 110px;
    margin-top: 10px;
}
.leftSide .message {
    background-color: #232323;
    margin-top: 10px;
    padding: 12px 110px;
    height: 150px;
}
.leftSide .button {
    border: 1px solid white;
    background-color: #503392;
    color: white;
    text-align: center;
    padding: 10px 45px;
    font-size: 13px;
    margin-top: 10px;
}
.rightSide h3{
    font-size: 28px;
    font-weight: 400;
}
.footerIcons {
    list-style: none;
}
.rightSide li img {
    position: absolute;
    margin-left: -42px;
}
.rightSide li p {
    margin-left: 20px;
}
.rightSide .home {
    margin-top: 20px;
}
.rightSide .phone {
    margin-top: 40px;
}
.rightSide .mail {
    margin-top: 40px;
}